/* NavBar.css */

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5em;
  flex-direction: column;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .user-info {
    display: none;
  }
}
