.welcome {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15em;
  height: 90vh; /* Set height to 100% of the viewport height */
  /* width: 100%; */
  flex-direction: column;
  text-align: left;
  padding-inline-start: 20em;
  padding-inline-end: 20em;
}
