/* Button.css */

.login-button {
  background-color: gray;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  align-self: flex-start;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: black;
}
